<!DOCTYPE html>
<html lang="en">
<head>
    <title>First Vue</title>
    <meta charset="utf-8" />
    <meta name = "viewport"
    content="width=device-width,initial-scale=1.0" /> 
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>   
    <style></style>
    <script>
        // window.onload =function() {
        //     new Vue({
        //         el:'#root',
        //         data:{
        //             message: "Hello World!",
        //             title: "My First Vue File",
        //             fruits: ['apple','banana','orange']
        //         }
        //     });
        // }
    </script>
    
</head>
<body>
    <div id="root">
        <h1>{{title}}</h1>
        <h2>{{message}}</h2>
        <h3>{{fruits}}</h3>
        <h4 v-text="message"></h4>
        <p><input id="hello" v-model="name" placeholder="Enter a name"/></p>
        <p>Hello {{name}}</p>
    </div>
    <div id="app">
        <h1>{{title}}</h1>
    </div>
    <script>
            
        var data = {
            message: "Hello World!",
            title: "My First Vue File",
            name: "",
            fruits: ['apple','banana','orange']
        }

        new Vue({
            el: '#root', //el is element (HTML element id)
            data: data
        });

        new Vue({
            el: '#app',
            data:{
                title:"I am the second instance of Vue!"
            }
        });
    </script>
</body>
</html>