<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vue in Lists</title>
    <meta charset="utf-8" />
    <meta name = "viewport"
    content="width=device-width,initial-scale=1.0" />   
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
    <style>
        
    </style>
    
</head>
<body>
    <h1>Vue in Lists</h1>
    <div id="app">
        <ul id="names1">
            <li v-for="name in names">{{name}}</li>
        </ul>
        <ul id="names2">
            <li v-for="x in names" v-text="x"></li>
        </ul>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                names: ['Dave','Monika','Sagar','Anu','Steve'],
                message: "Hello World!"
            }
        });
    </script>
</body>
</html>