<!DOCTYPE html>
<html lang="en">
<head>
    <title>Adding Items to Lists in Vue</title>
    <meta charset="utf-8" />
    <meta name = "viewport"
    content="width=device-width,initial-scale=1.0" />   
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
    <style>
        
    </style>
    
</head>
<body>
    <h1>Adding Items to Lists in Vue</h1>
    <div id="app">
        <h2>{{message}}</h2>
        <ul id="names1">
            <li v-for="name in names">{{name}}</li>
        </ul>
        <ul id="names2">
            <li v-for="x in names" v-text="x"></li>
        </ul>
        <p>
            <input id="name" type="text" placeholder="Add a name"/>
            <button id="add_name">Add Name</button>
        </p>
    </div>
    <script>
        var app = new Vue({
                        el: '#app',
                        data: {
                            names: ['Dave','Monika','Sagar','Anu','Steve'],
                            message: "Hello World!"
                        }
                    });

        document.querySelector('#add_name').addEventListener('click',function(e) {
            //target the input
            var name = document.querySelector('#name');

            //add new value to the name list
            if(name.value){
                app.names.push(name.value);
            } else {
                alert('Please Enter a name to Add');
            }

            
            name.value="";
        });
    </script>
</body>
</html>