<!DOCTYPE html>
<html lang="en">
<head>
    <title>Event Listeners Vue Mounted</title>
    <meta charset="utf-8" />
    <meta name = "viewport"
    content="width=device-width,initial-scale=1.0" />   
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
    <style>
        
    </style>
    
</head>
<body>
    <h1>Event Listeners Vue Mounted</h1>
    <div id="app">
        <h2>{{message}}</h2>
        <ul id="names1">
            <li v-for="name in names">{{name}}</li>
        </ul>
        <ul id="names2">
            <li v-for="x in names" v-text="x"></li>
        </ul>
        <p>
            <input id="name" v-on:change="addName" type="text" v-model="new_name" placeholder="Add a name"/>
            <!-- v-on is same as @ -->
        </p>
    </div>
    <script>
        var app = new Vue({
                        el: '#app',
                        data: {
                            names: ['Dave','Monika','Sagar','Anu','Steve'],
                            message: "Hello World!",
                            new_name: ""
                        },
                        methods: {
                            addName: function(e) 
                            {
                                //Take value of form input and push onto names array
                                if(this.new_name.length > 2){
                                    this.names.push(this.new_name);
                                } else {
                                    alert('Please enter a Name with atleast 3 characters');
                                    return;
                                }
                                this.new_name = ""; 
                            
                            }
                        },
                        mounted(){
                            console.log('Vue Instance Mounted!')
                        }
                    });

        
    </script>
</body>
</html>