<!DOCTYPE html>
<html lang="en">
<head>
    <title>Attribute Binding with Vue</title>
    <meta charset="utf-8" />
    <meta name = "viewport"
    content="width=device-width,initial-scale=1.0" />   
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
    <style>
        .is_loading{
            background: #900;
            color: #fff;
        }
    </style>
    <script>

    </script>    
</head>
<body>
    <h1>Attribute Binding with Vue</h1>
    <div id="app">
        <p>
            Demonstrates binding a value from the model as an attribute value of an element. Also shows
            use of shorthand version of v-bind, which is just colon :
        </p>
        <p> 
            <button id="btn1" v-bind:title="my_attribute" v-bind:disabled="loading">Click me!</button>&nbsp;
            <button id="btn2" :title="my_attribute" :disabled="loading">Alternate Click me!</button>&nbsp;
            <button id="btn3" :title="my_attribute" 
                    v-bind:class="{'is_loading': loading}"
                    v-on:click="changeAttributeCSS">{{button_txt}}</button>
        </p>
    </div>
    <script>
        var app = new Vue({
                        el: '#app',
                        data: {
                            my_attribute: 'This attribute set with Vue',
                            button_txt: 'Click Me Too!',
                            loading: false
                        },
                        methods: {
                            changeAttributeCSS: function()
                            {
                                if(this.loading) {
                                    this.loading=false;
                                    this.button_txt="Click Me Too!";
                                } else {
                                    this.loading=true;
                                    this.button_txt="I was Clicked!";
                                }                                
                            }
                        }
                        
                    });
        
    </script>
</body>
</html>