<!Doctype html>
<html lang="en">
<head>
    <title>Vue AND Axios And Fetch and XHR and jQuery</title>
    <meta charset="utf-8" />
    <meta name = "viewport"
    content="width=device-width,initial-scale=1.0" /> 
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
    <style>
        button.is-primary{
            margin-top: 10px;
        }
    </style>
    <script></script>
</head>
<body>
   
    <div id="app">
        <div class="container">
            <div class="columns">
                <div class = "column is-half">
                    <h1 class="title">Users</h1>
                    <table class="table">
                        <tr v-for="list in users">
                            <td>{{list.id}}</td>
                            <td>{{list.first}}</td>
                            <td>{{list.last}}</td>
                            <td>{{list.email}}</td>
                            <td>{{list.created_at}}</td>
                        </tr>
                    </table>
                </div>
                <div class="column is-half">
                    <h2 class="subtitle">Add User</h2>
                    <form class="form" id="register">
                        <p>
                            <label class="label" for="first">First Name</label>
                            <input v-model="user.first" class="input" type="text" name="first"/>
                        </p>
                        <p>
                            <label class="label" for="last">Last Name</label>
                            <input v-model="user.last" class="input" type="text" name="first"/>
                        </p>
                        <p>
                            <label class="label" for="email">Email</label>
                            <input v-model="user.email" class="input" type="text" name="email"/>
                        </p>
                        <p>
                            <button id="add_user" class="button is-primary" type="submit"
                            v-on:click="saveUser">Add User</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>       

        var app = new Vue({
                        el:'#app',
                        data: {
                            users: [],
                            user: {
                                first: "",
                                last: "",
                                email: ""
                            }
                        },
                        methods: {
                            
                            saveUser: function()
                            {
                                var self=this;
                                if(this.user.first == '' || this.user.last=='' || this.user.email=='') {
                                    alert('All input fields are required');
                                    return;
                                }

                                var params = {
                                    method: 'POST',
                                    data: self.user,
                                    dataType: 'json',
                                    success: function(data,status,xhr)
                                    {
                                        console.log(data);
                                        console.log(status);
                                        console.log(xhr);
                                        self.outputUsers();
                                    },
                                    complete: function()
                                    {
                                        console.log(complete);
                                    },
                                    error: function(error)
                                    {
                                        console.log(error);
                                    }
                                };

                                $.ajax('register.php',params);
                            },      
                            outputUsers: function()
                            {
                                var self = this;
                                $.ajax('register.php')
                                    .done(function(data){
                                        self.users = data;
                                    })
                                    .fail(function(){
                                        console.log('failed to get the data');
                                    })
                                    .always(function(){
                                        console.log('complete');
                                    });                                    
                            }                  
                           
                        },
                        mounted: function()
                        {
                            this.outputUsers();
                        }
                    });       

        
    </script>
</body>
</html>