<!Doctype html>
<html lang="en">
<head>
    <title>Vue AND Axios And Fetch and XHR and jQuery</title>
    <meta charset="utf-8" />
    <meta name = "viewport"
    content="width=device-width,initial-scale=1.0" /> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>     
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
    <style>
        button.is-primary{
            margin-top: 10px;
        }

        .showModal{
            display: block;
        }

        .modal-content{
            background: #fff;
            width:600px;
            height: 300px;
            padding:5%;
            line-height: 1.6;
            border-radius: 10px;
        }

        .button{
            width:100px;
        }

        td:hover{
            cursor: pointer;
        }
    </style>
    <script></script>
</head>
<body>
   
    <div id="app">
        <div class="container">
            <div class="columns">
                <div class = "column is-half">
                    <h1 class="title">Users</h1>
                    <table class="table">
                        <tr v-for="list in users" 
                            v-on:click="openModal(list.id)" 
                            v-bind:data-id="list.id">
                            <td>{{list.id}}</td>
                            <td>{{list.first}}</td>
                            <td>{{list.last}}</td>
                            <td>{{list.email}}</td>
                            <td>{{list.created_at}}</td>
                        </tr>
                    </table>
                </div>
                <div class="column is-half">
                    <h2 class="subtitle">Add User</h2>
                    <form class="form" id="register">
                        <p>
                            <label class="label" for="first">First Name</label>
                            <input v-model="user.first" class="input" type="text" name="first"/>
                        </p>
                        <p>
                            <label class="label" for="last">Last Name</label>
                            <input v-model="user.last" class="input" type="text" name="first"/>
                        </p>
                        <p>
                            <label class="label" for="email">Email</label>
                            <input v-model="user.email" class="input" type="text" name="email"/>
                        </p>
                        <p>
                            <button id="add_user" class="button is-primary" type="submit"
                            v-on:click="saveUser">Add User</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal" v-bind:class="{'is-active':showModalFlag}">
          <div class="modal-background"></div>
          <div class="modal-content">            
                <h1>User Details!</h1>
                <ul class="menu-list">
                    <li>Id: {{newuser.id}}</li>
                    <li>First Name: {{newuser.first}}</li>
                    <li>Last Name: {{newuser.last}}</li>
                    <li>Email: {{newuser.email}}</li>
                    <li>Created: {{newuser.created_at}}</li>
                </ul>
                <p>{{ message }}</p>
                <button class="modal-close is-large" aria-label="close" @click="cancelModal">Hello</button>
                <button class="button is-success" @click="okModal">Ok</button>
                <button class="button" @click="cancelModal">Cancel</button>
          </div>          
        </div>     
    </div>

    <script>       

        var app = new Vue({
                        el:'#app',
                        data: {
                            users: [],
                            user: {
                                first: "",
                                last: "",
                                email: ""
                            },
                            newuser: {},
                            showModalFlag: false,
                            okPressed: false,
                            message: "Press 'Ok' or 'Cancel'"
                        },
                        methods: {
                            
                            saveUser: function()
                            {
                                var self=this;
                                if(this.user.first == '' || this.user.last=='' || this.user.email=='') {
                                    alert('All input fields are required');
                                    return;
                                }

                                console.log(self.user.email);

                                axios.post('register.php', JSON.stringify(self.user),
                                            {headers: {'Content-Type' : 'application/json'}
                                        })
                                        .then(function(response){
                                            console.log(response.data);
                                            self.outputUsers();
                                        })
                                        .catch(function(error){
                                            console.log(error);
                                        });
                            },      
                            outputUsers: function()
                            {
                                var self = this;
                                axios.get('register.php')
                                    .then(function(response){
                                        self.users = response.data;
                                    })
                                    .catch(function(error){
                                        console.log(error);
                                    });                                    
                            },
                            openModal: function(row_id)
                            {
                                this.okPressed = false;
                                this.showModalFlag = true;
                                //console.log(row);
                                var self = this;
                                var id = row_id; // e.target.getAttribute('data-id');
                                console.log(id);

                                axios.get('register.php?user_id=' + encodeURI(id))
                                    .then(function(response){
                                        self.newuser = response.data;
                                    })
                                    .catch(function(error){
                                        console.log(error);
                                    });
                            },
                            okModal: function()
                            {
                                this.okPressed = true;
                                this.showModalFlag = false;
                            },
                            cancelModal: function()
                            {
                                this.okPressed = false;
                                this.showModalFlag = false;
                            }
                           
                        },
                        mounted: function()
                        {
                            this.outputUsers();
                        }
                    });       

        
    </script>
</body>
</html>