<!DOCTYPE html>
<html lang="en">
<head>
    <title>Assignment 2</title>
    <meta charset="utf-8" />
    <meta name = "viewport"
            content="width=device-width,initial-scale=1.0" /> 
    <!-- 
        * ****************************************************
        * *      Program Name: Web Development               *
        * *       Course Name: Advanced PHP                  *
        * *             Batch: WDD7 - Jan 2020               *
        * *        Instructor: Steve George                  *
        * *        Assignment: 2a                             *
        * *                                                  *
        * *      Submitted by: Anu Kulshrestha               *
        * **************************************************** 
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>     
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>  
    <style>

        body{
            background: #ffc;
        }

        .modal-content{
            width: 80%;
            background: #ffc;
            border-radius: 25px;
            padding: 5%;            
        }

        h1{
            font-size: 3em;
        }

        td img{
            width: 50px;
            height: auto;
        }        

        a{
            color: #900;
            text-decoration: none;
        }

        h2{
            color: #900;
            font-size: 2.5em;
        }

        ul{
            line-height: 2;
            font-size: 1.5em;
            padding-bottom: 5%;
        }

        p a{
            font-size: 1.5em;
        }
       
        tr{
            width: 100%;
        }
    </style>
    <script></script>
</head>
<body>    
    <!-- Created a container div that will contain whole page -->
    <div id="book_list" class="container is-fluid">
        <!-- tried the content div from Bulma script -->
        <div class="notification is-primary">
            <!-- A dynamic title that will be handled by Vue through various sorting -->
            <h1><strong>{{title}}</strong></h1>            
        </div>
        <!-- A div to contain the list view and the modal box -->
        <div>
            <!-- a div added for option to show all blocks -->
            <div class="columns is-centered">
                <p>
                    <a title="show all books" v-on:click="outputBookList">Show All Books</a>
                </p>
            </div>
            <!-- a div added for containing table for list view of books -->
            <div class="columns">
                <!-- table using Bulma classes for displaying the books list -->
                <table class="table is-hoverable is-bordered is-striped is-fullwidth">
                <thead>
                    <tr class="has-text-centered">
                        <th>Thumbnail</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Genre</th>
                        <th>Format</th>
                        <th>Publisher</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="book in books" v-bind:data-id="book.book_id">
                    <td class="has-text-centered">  
                        <a v-on:click="openDetail(book.book_id)" title="click for details">                       
                            <img v-bind:src="getImage(book.image)" alt="book.title" />
                        </a>                                
                    </td>
                    <td>        
                        <a v-on:click="openDetail(book.book_id)" 
                            title="click for details">                       
                            {{book.title}} 
                        </a>                               
                    </td>
                    <td class="sort">
                        <a v-on:click="sortBookBy('author',book.author_id)"                                   
                            title="sort by Authors">
                            {{book.author}}
                        </a>
                    </td>
                    <td class="sort">
                        <a v-on:click="sortBookBy('genre',book.genre_id)"                                    
                            title="sort by Genre">
                            {{book.genre}}
                        </a>
                    </td>
                    <td class="sort">
                        <a v-on:click="sortBookBy('format',book.format_id)"                                  
                            title="sort by Format">
                            {{book.format}}
                        </a>
                    </td>
                    <td class="sort">
                        <a v-on:click="sortBookBy('publisher',book.publisher_id)"
                            title="sort by publisher">
                            {{book.publisher}}
                        </a>
                    </td>
                    </tr>
                </tbody>             
                </table>
            </div>
            
        </div>
        <!-- A div using class modal to display the detail view of a selected book through click -->
        <div class="modal" v-bind:class="{'is-active':showBookDetail}">
            <!-- The background of the modal, which will close modal when user clicks on background -->
            <div class="modal-background"></div>
            <!-- The main part of modal that will have the details of the book -->
            <div class="modal-content"> 
                 
                <form id="update_book" method="post">
                    <p>
                        <label class="label" for="title">Title</label>
                        <input v-model="selectedBook.title" class="input" type="text" name="title"/>
                    </p>
                    <p>
                        <label class="label" for="description">Description</label>
                        <input v-model="selectedBook.description" class="input" type="text" name="description"/>
                    </p>
                    <p>
                        <label class="label" for="year_published">Year Published</label>
                        <input v-model="selectedBook.year_published" class="input" type="text" name="year_published"/>
                    </p>
                    <p>
                        <label class="label" for="num_pages">Number of Pages</label>
                        <input v-model="selectedBook.num_pages" class="input" type="text" name="num_pages"/>
                    </p>
                    <p>
                        <label class="label" for="price">Price</label>
                        <input v-model="selectedBook.price" class="input" type="text" name="price"/>
                    </p>
                    <p>
                        <label class="label" for="author_id">Author Id</label>
                        <input v-model="selectedBook.author_id" class="input" type="text" name="author_id"/>
                    </p>
                    <p>
                        <label class="label" for="genre_id">Genre Id</label>
                        <input v-model="selectedBook.genre_id" class="input" type="text" name="genre_id"/>
                    </p>
                    <p>
                        <label class="label" for="format_id">Format Id</label>
                        <input v-model="selectedBook.format_id" class="input" type="text" name="format_id"/>
                    </p>
                    <p>
                        <label class="label" for="publisher_id">Publisher Id</label>
                        <input v-model="selectedBook.publisher_id" class="input" type="text" name="publisher_id"/>
                    </p>
                    <p>
                        <label class="label" for="in_print">In Print</label>
                        <input v-model="selectedBook.in_print" class="input" type="text" name="in_print"/>
                    </p>
                    <p>
                        <button class="button is-primary" type="button"
                                v-on:click="updateBook">Update </button>&nbsp;
                        <button class="button" @click="closeBook">Cancel</button>
                    </p>
                </form>
                <button class="modal-close is-large" aria-label="close" @click="closeBook">Hello</button>       
            </div>          
        </div>  
    </div>
    <script>
           
        
        //creating a Vue container for the details to fetch, process and display as per user's choice
        var bookList= new Vue({
                            el:'#book_list', //binding to the div that will have all the data from this Vue
                            data: { // data object to bind all the data from book_server.php
                                title: 'Books Available',
                                books: [],
                                selectedBook: {},
                                showBookDetail: false,
                                closeBookDetail:false
                            },
                            methods: { // methods for function to call from event handlers
                                //function for list view of books
                                outputBookList: function()
                                {
                                    var self=this;
                                    self.title = 'Books Available'
                                    axios.get('book_server.php')
                                        .then(function(response){
                                            self.books = response.data;
                                            //console.log(response.data);
                                        })
                                        .catch(function(error){
                                            console.log(error);
                                        });
                                },                                
                                
                                //function for single book detail as per book id
                                openDetail: function(id)
                                {
                                    this.showBookDetail= true;
                                    this.closeBookDetail = false;
                                    var self= this;
                                    console.log(id);
                                    axios.get('book_server.php?book_id=' + encodeURI(id))
                                        .then(function(response){
                                            self.selectedBook = response.data;
                                            console.log(response.data);
                                        })
                                        .catch(function(error){
                                            console.log(error);
                                        });
                                },

                                //function to close the modal box
                                closeBook: function()
                                {
                                    this.showBookDetail= false;
                                    this.closeBookDetail = true;
                                },

                                //function to get image path to assign to src of img tag
                                getImage: function(image_name)
                                {
                                    return "images/" + image_name;
                                },

                                //function to sort the list view by author/genre/format/publisher
                                sortBookBy: function(sort_type,sort_type_id)
                                {
                                    var self = this;

                                    var url = 'book_server.php';

                                    if(sort_type=='author') {
                                        url += '?author_id=' + encodeURI(sort_type_id);
                                        self.title = 'Books by Author - ';
                                    } else if(sort_type=='genre') {
                                        url += '?genre_id=' + encodeURI(sort_type_id);
                                        self.title = 'Books by Genre - ';
                                    } else if(sort_type=='format') {
                                        url += '?format_id=' + encodeURI(sort_type_id);
                                        self.title = 'Books by Format - ';
                                    } else if(sort_type=='publisher') {
                                        url += '?publisher_id=' + encodeURI(sort_type_id);
                                        self.title = 'Books by Publisher - ';
                                    }

                                    axios.get(url)
                                        .then(function(response){
                                            self.books = response.data;
                                            console.log(self.books);
                                            if(sort_type=='author') {
                                                self.title += self.books[0].author;
                                            } else if(sort_type == 'genre') {
                                                self.title += self.books[0].genre;
                                            } else if(sort_type == 'format') {
                                                self.title += self.books[0].format;
                                            } else if(sort_type == 'publisher') {
                                                self.title += self.books[0].publisher;
                                            }
                                            //console.log(response.data);
                                        })
                                        .catch(function(error){
                                            console.log(error);
                                        });
                                },
                                updateBook: function()
                                {
                                    var self = this;
                                    axios.post('book_server.php', JSON.stringify(self.selectedBook),
                                            {headers: {'Content-Type' : 'application/json'}
                                        })
                                        .then(function(response){
                                            console.log(response.data);
                                            self.outputBookList();
                                        })
                                        .catch(function(error){
                                            console.log(error);
                                        });
                                }  

                            },
                            mounted: function() {  
                            //after the page loads the functions written here can be called                                                             
                                this.outputBookList();
                            }
                        });
    </script>
</body>
</html>