<!DOCTYPE html>
<html lang="en">
<head>
    <title>Components 2</title>
    <meta charset="utf-8" />
    <meta name = "viewport"
    content="width=device-width,initial-scale=1.0" />    
    <style></style>
    <script></script>
</head>
<body>
    <h1>Components 2</h1>
    <div id="app">
        <h2>{{title}}</h2>
        <task-list></task-list>
        <!-- 
            <ul>
                <li>Go Get Bread</li>
                <li>Go Get Milk</li>
                <li>Go to School</li>
            </ul>  

         -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
    <script>

        Vue.component('task-list',{
            template: `<ul><task v-for="task in tasks" v-bind:key="task.id">{{task.description}}</task></ul>`,
            data: function(){
                return {
                    tasks:  [
                        {
                            id:1,description: 'Get some bread',complete:false
                        },
                        {
                            id:2, description: 'Start Assignment', complete:false
                        },
                        {
                            id:3, description: 'Speak to family', complete:false
                        },
                        {
                            id:4, description: 'Continue Assignment', complete:false
                        },
                        {
                            id:5, description: 'Finish Assignment', complete:false
                        },
                    ]
                }
            }
        });

        Vue.component('task',{
            template: `<li class="task"><slot></slot></li>`
        });

        new Vue({
            el: '#app',
            data: {
                title: "Components 2 - Using Data in a component"
            }
        });
    </script> 
</body>
</html>