<!DOCTYPE html>
<html lang="en">
<head>
    <title>Components 4</title>
    <meta charset="utf-8" />
    <meta name = "viewport"
    content="width=device-width,initial-scale=1.0" />    
    <style>
        .completed{
            color:#900;
            text-decoration: line-through;
        }
    </style>
    <script></script>
</head>
<body>
    <h1>Components 4</h1>
    <div id="app">
        <h2>{{title}}</h2>

        <h3>All Tasks</h3>
        <task-list v-bind:tasks="tasks"></task-list>

        <h4>Incomplete Task</h4>
        <task-list v-bind:tasks="incomplete"></task-list>

        <h4>Completed Task</h4>
        <task-list v-bind:tasks="complete"></task-list>
        <!-- 
            <ul>
                <li>Go Get Bread</li>
                <li>Go Get Milk</li>
                <li>Go to School</li>
            </ul>  

         -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
    <script>

        Vue.component('task-list',{
            props: ['tasks'],
            template: `<ul><task 
                            v-for="task in tasks" 
                            v-bind:key="task.id"
                            v-on:click.native="toggle(task)"
                            v-bind:class="{'completed':task.complete}">
                                {{task.description}}
                            </task>
                        </ul>`,
            methods: {
                toggle: function(task){
                    console.log(task);
                    task.complete = (task.complete) ? false : true;
                }
            }

        });

        Vue.component('task',{
            template: `<li class="task"><slot></slot></li>`
        });

        new Vue({
            el: '#app',
            data: {
                title: "Components 4 - Component Event Handling, Computed Properties",
                tasks:  [
                        {
                            id:1,description: 'Get some bread',complete:false
                        },
                        {
                            id:2, description: 'Start Assignment', complete:false
                        },
                        {
                            id:3, description: 'Speak to family', complete:false
                        },
                        {
                            id:4, description: 'Continue Assignment', complete:false
                        },
                        {
                            id:5, description: 'Finish Assignment', complete:false
                        },
                    ]
            },
            computed: {
                incomplete:function()
                {
                    return this.tasks.filter(function(task){
                        return task.complete===false;
                    });
                },
                complete:function()
                {
                    return this.tasks.filter(function(task){
                        return task.complete===true;
                    });
                }
            }
        });
    </script> 
</body>
</html>